<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-container">
        <h1><%= title %></h1>
        <nav>
            <% if (currentUser) { %>
                <a href=<%= currentUser.url %>>My Account</a>
                <a href="/log-out">Log Out</a>
            <% } else { %>
                <a href="/log-in">Log In</a>
                <a href="/user/create">Sign Up</a>
            <% } %>
        </nav>
        <div class="content-container">
            <% if (currentUser) { %>
                <a href="/message/create">Post New Message</a>
            <% } else { %>
                <p>Log in or sign up to post a message.</p>
            <% } %>
            <% if (messages.length > 0) { %>
                <% for (const message of messages) { %>
                    <% const messageUserId = message.user == null ? "0" : message.user._id %>
                    <div class=<%- (currentUser && currentUser._id.toString() === messageUserId.toString()) ? "'message-row user'" : "message-row" %>>
                        <div class="message-header">
                            <% if (currentUser) { %>
                                <span>
                                    <%- (currentUser._id.toString() === messageUserId.toString() ? "<strong>You: </strong>" : "") %>
                                    <% if (message.user != null) { %>
                                        <%= message.user.membershipStatus == "Admin" || message.user.membershipStatus == "Mod" ? `[${message.user.membershipStatus}]` : "" %>
                                        <a href=<%= message.user.url %>><%= message.user.username %></a>
                                        <%= message.user.membershipStatus != "Admin" && message.user.membershipStatus != "Mod" ? `(${message.user.membershipStatus})` : "" %>
                                    <% } else { %>
                                        [user deleted]
                                    <% } %>
                                    - Date posted: <%= message.postDate.toLocaleString() %>
                                </span>                     
                            <% } else { %>
                                <span>Log in to see who posted this and when.</span>
                            <% } %>
                        </div>
                        <p><%= message.text %></p>
                        <%- currentUser && message.lastEditDate != null ? `<p class="edit-note">Last edited: ${message.lastEditDate.toLocaleString()} by ${message.lastEditBy.username} (${message.lastEditBy.membershipStatus})</p>` : "" %>
                        <% const messageMemberStatus = message.user == null ? "" : message.user.membershipStatus %>
                        <% if (currentUser && (currentUser._id.toString() === messageUserId.toString() || (currentUser.membershipStatus == 'Admin' || (currentUser.membershipStatus == 'Mod' && messageMemberStatus != 'Admin')))) { %>
                            <div class="message-footer">
                                <a href=<%= `/message/${message._id}/update` %>>Edit</a>
                                <a href=<%= `/message/${message._id}/delete` %>>Delete</a>
                            </div>
                        <% } %>
                    </div>
                <% } %>
            <% } else { %>
                <p>There are currently no posts. Be the first to post!</p>
            <% } %>
        </div>
    </div>
</body>
</html>