<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-container">
        <h1><%= title %></h1>
        <nav>
            <a href="/">Home</a>
            <%- currentUser ? '<a href="/log-out">Log Out</a>' : "" %>
        </nav>
        <div class="content-container">
            <h3>User Details:</h3>
            <% if (currentUser) { %>
                <p><strong>Username: </strong><%= reqUser.username %></p>
                <p><strong>Join date: </strong><%= reqUser.joinDate.toLocaleDateString() %></p>
                <p><strong>Membership status: </strong><%= reqUser.membershipStatus %></p>
                <% if (currentUser._id.toString() == reqId) { %>
                    <p><strong>First name: </strong><%= reqUser.firstName %></p>
                    <p><strong>Last name: </strong><%= reqUser.lastName %></p>
                    <div>
                        <a href=<%= `/user/${reqUser._id}/update` %>>Update user details</a>
                        <a href=<%= `/user/${reqUser._id}/delete` %>>Delete user account</a>
                    </div>         
                <% } %>
                <h3>User posts (<%= userMessages.length %>): </h3>
                <% if (userMessages.length > 0) { %>
                    <% for (message of userMessages) { %>
                        <div class="message-row">
                            <div class="message-header">
                                <span>Date posted: <%= message.postDate.toLocaleString() %></span>
                            </div>
                            <p><%= message.text %></p>
                            <% const messageUserId = message.user == null ? "0" : message.user._id %>
                            <% const messageMemberStatus = message.user == null ? "" : message.user.membershipStatus %>
                            <% if (currentUser && (currentUser._id.toString() === messageUserId.toString() || (currentUser.membershipStatus == 'Admin' || (currentUser.membershipStatus == 'Mod' && messageMemberStatus != 'Admin')))) { %>
                                <div class="message-footer">
                                    <a href=<%= `/message/${message._id}/update` %>>Edit</a>
                                    <a href=<%= `/message/${message._id}/delete` %>>Delete</a>
                                </div>
                            <% } %>
                        </div>
                    <% } %>
                <% } else { %>
                    <p>There are no posts for this user.</p>
                <% } %>
            <% } else { %>
                <p>Please <a href="/log-in">log in</a> to view this page.</p>
            <% } %>
        </div>
    </div>
</body>
</html>