<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="main-container">
      <h1><%= title %></h1>
      <nav>
        <a href="/categories">All Categories</a>
        <a href="/items">All Items</a>
        <a href="/category/create">Add Category</a>
        <a href=<%= `/item/create/${category._id}` %>>Add Item</a>
      </nav>
      <div class="content-container">
        <h2><%= category.name %></h2>
        <p><strong>Description: </strong><%= category.description %></p>
        <hr>
        <div>
          <% if (category_items.length > 0) { %>
            <h4>Items in this category (<a href=<%= `${category.url}?sortItem=` + (sortItem === 1 ? '-1' : '1') %>>sort:<%= (sortItem === 1 ? 'a-z' : 'z-a') %></a>):</h4>
            <table>
              <tr>
                <th>#</th>
                <th>Item Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Qty in stock</th>
              </tr>
              <% category_items.forEach((item, i) => { %>
                <tr>
                  <th><%= i + 1 %>. </th>
                  <th><a href=<%= item.url %>><%= item.name %></a></th>
                  <th><%= item.description %></th>
                  <th><%= item.price %></th>
                  <th><%= item.qty %></th>
                </tr>
              <% }) %>
            </table>
          <% } else { %>
            <p>This category has no items, please <a href=<%= `/item/create/${category._id}` %>>add an item</a></p>
          <% } %>
          <hr>
          <p><a href=<%= `${category.url}/update` %>>Update category</a></p>
          <p><a href=<%= `${category.url}/delete` %>>Delete category</a></p>
        </div>
      </div>
    </div>
  </body>
</html>