<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="main-container">
      <h1><%= title %></h1>
      <nav>
        <a href="/categories">All Categories</a>
        <a href="/items">All Items</a>
        <a href="/category/create">Add Category</a>
        <a href="/item/create">Add Item</a>
      </nav>
      <div class="content-container">
        <h2>Categories:</h2>
        <div class="sort-filter-bar">
          <div>
            Name sort order: <a href=<%= '/categories?sort=' + (sort === 1 ? '-1' : '1') %>><%= (sort === 1 ? 'a-z' : 'z-a') %></a>
          </div>
        </div>
        <% if (categories.length > 0) { %>
          <table>
            <tr>
              <th>#</th>
              <th>Category Name</th>
              <th>Unique Items</th>
              <th>Total Stock Qty</th>
            </tr>
            <%  categories.forEach((category, i) => { %>
              <tr>
                <th><%= i + 1 %>.</th>
                <th><a href=<%= category.url %>><%= category.name %></a></th>
                <th><%= item_counts[category._id] %></th>
                <th><%= stock_counts[category._id] %></th>
              </tr>
            <% }) %>
          </table>
        <% } else { %>
          <p>There are no categories, please <a href="/item/create">add a category</a>.<p>
        <% } %>
      </div>
    </div>
  </body>
</html>

