<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="main-container">
        <h1><%= title %></h1>
        <nav>
          <a href="/categories">All Categories</a>
          <a href="/items">All Items</a>
          <a href="/category/create">Add Category</a>
          <a href="/item/create">Add Item</a>
        </nav>
        <div class="content-container">
            <p><strong>Please confirm you wish to permanently delete the following item:</strong></p>
            <p><strong>Item: </strong><%= item.name %></p>
            <p><strong>Description: </strong><%= item.description %></p>
            <p><strong>Category: </strong><a href=<%= item.category.url %>><%= item.category.name %></a></p>
            <p><strong>Price: </strong><%= item.price %></p>
            <p><strong>Qty in stock: </strong><%= item.qty %></p>
            <form action="" method="post">
                <input id="item_id" class="form-control" type="hidden" name="item_id" required value=<%= item._id %>>
                <button type="submit">Delete</button>
                <button type="button" onclick=<%= goToUrl %>>Cancel</button>
            </form>
        </div>
    </div>
    <script src="/javascripts/goToUrl.js"></script>
  </body>
</html>