<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="main-container">
      <h1><%= title %></h1>
      <nav>
        <a href="/categories">All Categories</a>
        <a href="/items">All Items</a>
        <a href="/">Add Category</a>
        <a href="/">Add Item</a>
      </nav>
      <div class="content-container">
        <h3>Items:</h3>
        <div class="sort-filter-bar">
          <div>
            Sort by:
            <a href=<%= '/items?sort=' + sort.toString() + '&sortBy=name' %>>Name</a>
            <a href=<%= '/items?sort=' + sort.toString() + '&sortBy=category' %>>Category</a>
            <a href=<%= '/items?sort=' + sort.toString() + '&sortBy=price' %>>Price</a>
            <a href=<%= '/items?sort=' + sort.toString() + '&sortBy=qty' %>>Qty</a>
          </div>
          <div>
            Order: <a href=<%= '/items?sort=' + (sort === 1 ? '-1' : '1') + '&sortBy=' + sortBy %>><%= (sort === 1 ? 'asc' : 'dsc') %></a>
          </div>
        </div>
        <table>
          <tr>
            <th>#</th>
            <th>Item Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Price</th>
            <th>Qty in stock</th>
          </tr>
          <% if (item_list.length > 0) { %>
              <% item_list.forEach((item, i) => { %>
                <tr>
                  <th><%= i + 1 %>.</th>
                  <th><a href=<%= item.url %>><%= item.name %></a></th>
                  <th><%= item.description %></th>
                  <th><a href=<%= item.category.url %>><%= item.category.name %></a></th>
                  <th><%= item.price %></th>
                  <th><%= item.qty %></th>
                </tr>
              <% }) %>
          <% } else { %>
              <p>There are no items, please add one.</p>
          <% } %>
        </table>
      </div>
    </div>
  </body>
</html>
