<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="main-container">
        <h1><%= title %></h1>
        <nav>
            <a href="/categories">All Categories</a>
            <a href="/items">All Items</a>
            <a href="/category/create">Add Category</a>
            <a href="/item/create">Add Item</a>
        </nav>
        <div class="content-container">
            <h2>Item: <%= item.name %></h2>
            <p><strong>Description: </strong><%= item.description %></p>
            <p><strong>Category: </strong><a href=<%= item.category.url %>><%= item.category.name %></a></p>
            <p><strong>Price: </strong><%= item.price %></p>
            <p><strong>Qty in stock: </strong><%= item.qty %></p>
            <hr>
            <p><a href=<%= `${item.url}/update` %>>Update item</a></p>
            <p><a href=<%= `${item.url}/delete` %>>Delete item</a></p>
        </div>
    </div>
  </body>
</html>