<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-container">
        <h1><%= title %></h1>
        <nav>
            <a href="/">Home</a>
            <a href="/log-out">Log Out</a>
        </nav>
        <div class="content-container">
            <p>Are you sure you want to delete this message?</p>
            <% if (message.replies.length > 0) { %>
                <p>Replies will not be deleted.</p>
            <% } %>
            <div class="message-row">
                <div class="message-header">
                    <span>
                        <% const messageUserId = message.user == null ? "0" : message.user._id %>
                        <%- (currentUser._id.toString() === messageUserId.toString() ? "<strong>You: </strong>" : "") %>
                        <% if (message.user != null) { %>
                            <%= message.user.membershipStatus == "Admin" || message.user.membershipStatus == "Mod" ? `[${message.user.membershipStatus}]` : "" %>
                            <a href=<%= message.user.url %>><%= message.user.username %></a>
                            <%= message.user.membershipStatus != "Admin" && message.user.membershipStatus != "Mod" ? `(${message.user.membershipStatus})` : "" %>
                        <% } else { %>
                            [user deleted]
                        <% } %>
                        - Date posted: <%= message.postDate.toLocaleString() %>
                    </span> 
                </div>
                <p><%= message.text %></p>
                <%- currentUser && message.lastEditDate != null ? `<p class="edit-note">Last edited: ${message.lastEditDate.toLocaleString()} by ${message.lastEditBy.username} (${message.lastEditBy.membershipStatus})</p>` : "" %>
            </div>
            <form action="" method="post">
                <input type="hidden" name="messageId" required value=<%= reqId %>>
                <button type="submit">Delete</button>
                <button type="button" onclick=<%= goToUrl %>>Cancel</button>
            </form>
        </div>
    </div>
    <script src="/javascripts/goToUrl.js"></script>
</body>
</html>