<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewpor" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          <ul class="sidebar-nav">
            <li><a href="/catalog">Home</a></li>
            <li><a href="/catalog/books">All books</a></li>
            <li><a href="/catalog/authors">All authors</a></li>
            <li><a href="/catalog/genres">All genres</a></li>
            <li><a href="/catalog/bookinstances">All book-instances</a></li>
            <hr>
            <li><a href="/catalog/author/create">Create new author</a></li>
            <li><a href="/catalog/genre/create">Create new genre</a></li>
            <li><a href="/catalog/book/create">Create new book</a></li>
            <li><a href="/catalog/bookinstance/create">Create new book instance (copy)</a></li>
          </ul>
        </div>
        <div class="col-sm-10">
            <h1><%= title %></h1>
            <form action="" method="post">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input id="title" class="form-control" type="text" placeholder="Name of book" name="title" required="true" value=<%= (typeof bookCurr == "undefined" ? "" : bookCurr.title) %>>
                </div>
                <div class="form-group">
                    <label for="author">Author:</label>
                    <select id="author" class="form-control" name="author" required>
                        <option value="" disabled <%= (typeof bookCurr != "undefined" ? "" : "selected") %>>Select author</option>
                        <% authors.sort(function(a, b) { let textA = a.family_name.toUpperCase(); let textB = b.family_name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0; }); %>
                        <% for (author of authors) { %>
                            <% if (typeof bookCurr != "undefined") { %>
                                <option value=<%= author._id %> <%= (author._id.toString() === bookCurr.author._id.toString() ? "selected" : "") %>><%= author.name %></option>
                            <% } else { %>
                                <option value=<%= author._id %>><%= author.name %></option>
                            <% } %>
                        <% } %>
                    </select>
                </div>
                <div class="form-group">
                    <label for="summary">Summary: </label>
                    <textarea name="summary" id="summary" class="form-control" placeholder="Summary" required="true"><%= (typeof bookCurr == "undefined" ? "" : bookCurr.summary ) %></textarea>
                </div>
                <div class="form-group">
                    <label for="isbn">ISBN: </label>
                    <input id="isbn" class="form-control" type="text" placeholder="ISBN13" name="isbn" required="true" value=<%= (typeof bookCurr == "undefined" ? "" : bookCurr.isbn ) %>>
                </div>
                <div class="form-group">
                    <label>Genre:</label>
                    <div>
                        <% for (genre of genres) { %>
                            <div style="display: inline; padding-right:10px;">
                                <input id=<%= genre._id %> class="checkbox-input" type="checkbox" name="genre" value=<%= genre._id %> <%= genre.checked ? "checked" : "" %>>
                                <label for=<%= genre._id %>><%= genre.name %></label>
                            </div>
                        <% } %>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
            <% if (typeof errors != "undefined") { %>
                <ul>
                    <% for (const error of errors) { %>
                        <li><%= error.msg %></li>
                    <% } %>
                </ul>
            <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
