<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Messages</h3>
    <h4><a href="/new">New Message</a></h4>
    <% for(let i = 0; i < messages.length; i++) { %>
      <div class="message-container">
        <div class="message-info-bar">
          <span>User: <%= messages[i].user %></span>
          <span>Date added: <%= messages[i].added.toLocaleString('en-GB', { timeZone: 'UTC' }) %></span>
        </div>
        <p class="message-text"><%= messages[i].text %></p>
      </div>
    <% } %>
  </body>
</html>